.pdpWrapper{width:1172px;margin:0 auto;}
.header{margin:0 0 12px 0;}
.pt_atfWrapper{background-color:yellow;}
.pt_70-30{
	#atf_l{width:70%;float:left;}
	#atf_buyBox{margin-left:70%;}
}
.pt_50-50{
	#atf_l{width:50%;float:left;}
	#atf_buyBox{margin-left:50%;}
}

/* iPhone layout */
@include respond-to(handhelds){
	.pdpWrapper{width:320px;}
	.header{display:none;}
	.pt_70-30{
		width:320px;
		#atf_l{width:100%;float:left;}
		#atf_buyBox{margin-left:0;}
	}
}
