h1.pt_productTitle{
	width:100%;
	margin:0 15px 0 0;padding:0;font-weight:normal;font-size:24px;line-height:26px;text-transform:none;letter-spacing:normal;
	.pt_brandName{margin:0;padding:0 6px 0 0;width:auto;font-weight:bold;}
}
.pRates{margin:0 0 10px 0;}
.pImg{
	text-align:center;
	img{height:360px;}
}
.pColorSwatch{
	margin:15px 0;text-align:center;
	.colorSwatch{
		margin:0 5px 0 0;width:22px;height:22px;border:1px solid $gray-light;display:inline-block;
		a{display:block;line-height:22px;text-decoration:none;}
	}
}
.pThumbs{
	margin:15px 0;text-align:center;
}

/* iPhone layout */
@include respond-to(handhelds){
	.h1.pt_productTitle{font-size:32px;}
	.bb_varSelect > label{display:none;}
	.pThumbs{width:320px;overflow:hidden;}
}