.btn{margin:15px;}
.ui-button {
	padding:8px 20px;
	color:$white;font-size:24px;font-weight:bold;
	line-height:34px;
	text-transform:capitalize;
	text-align:center;
	&:hover{text-decoration:none;color:$white;}
	a{white-space:nowrap;}
}
.sm-btn{
	font-size:18px;
	line-height:18px;
	padding:8px 10px 6px 10px;
}

.buy{background:$orange;}
.wish{background:$blue;}
.altOrder, .added{background:$blue-light;}
