@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* extras - unused */
@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-LightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
