/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* extras - unused */
@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conduit';
  src: url("http://backcountryturph.s3.amazonaws.com/mockups/2013/base/webfonts/Conduit-LightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Device breakpoints */
/* This is some font smoothing since our extra bold looks horrid small */
/* line 5, ../sass/_typography.scss */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 16, ../sass/_typography.scss */
html {
  font-size: 18;
}

/* line 17, ../sass/_typography.scss */
body {
  font: normal 100%/18px;
  font-family: "Conduit";
}

/* line 19, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/* line 20, ../sass/_typography.scss */
h1 {
  font-size: 44px;
  font-size: 2.44444rem;
  line-height: 88px;
  line-height: 4.88889rem;
  letter-spacing: 5px;
}

/* line 21, ../sass/_typography.scss */
h2 {
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 64px;
  line-height: 3.55556rem;
}

/* line 22, ../sass/_typography.scss */
h3 {
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 33.6px;
  line-height: 1.86667rem;
}

/* line 23, ../sass/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1rem;
  line-height: 25.2px;
  line-height: 1.4rem;
}

/* line 24, ../sass/_typography.scss */
h5 {
  font-size: 15px;
  font-size: 0.83333rem;
  line-height: 18.72px;
  line-height: 1.04rem;
}

/* line 25, ../sass/_typography.scss */
p {
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 33.6px;
  line-height: 1.86667rem;
}

/* line 26, ../sass/_typography.scss */
.mouse {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 14px;
  line-height: 0.77778rem;
}

/* line 28, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: blue;
}
/* line 28, ../sass/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/_typography.scss */
a.underline {
  text-decoration: underline;
}

/* line 31, ../sass/_typography.scss */
.price {
  color: orange;
}

/* Device breakpoints */
/* line 1, ../sass/_buttons.scss */
.btn {
  margin: 15px;
}

/* line 2, ../sass/_buttons.scss */
.ui-button {
  padding: 8px 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-transform: capitalize;
  text-align: center;
}
/* line 8, ../sass/_buttons.scss */
.ui-button:hover {
  text-decoration: none;
  color: white;
}
/* line 9, ../sass/_buttons.scss */
.ui-button a {
  white-space: nowrap;
}

/* line 11, ../sass/_buttons.scss */
.sm-btn {
  font-size: 18px;
  line-height: 18px;
  padding: 8px 10px 6px 10px;
}

/* line 17, ../sass/_buttons.scss */
.buy {
  background: #e48325;
}

/* line 18, ../sass/_buttons.scss */
.wish {
  background: #3399cc;
}

/* line 19, ../sass/_buttons.scss */
.altOrder, .added {
  background: #85c2e0;
}

/* line 1, ../sass/_productRatings.scss */
.pRates {
  margin: 10px 0;
  padding: 0;
}
/* line 3, ../sass/_productRatings.scss */
.pRates a:hover {
  text-decoration: none;
}

/* line 5, ../sass/_productRatings.scss */
.pStars, .pRate1, .pRate2, .pRate3, .pRate4, .pRate5 {
  display: block;
  height: 13px;
  background-image: url("http://backcountryturph.s3.amazonaws.com/mockups/2014/base/rating-default.png");
}

/* line 6, ../sass/_productRatings.scss */
.pRate1, .pRate2, .pRate3, .pRate4, .pRate5 {
  margin: -13px 0 0 0;
}

/* line 7, ../sass/_productRatings.scss */
.pStars {
  margin: 0 10px 0 0;
  width: 70px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 8, ../sass/_productRatings.scss */
.pStars {
  background: transparent\9;
}

/* IE8 and below hides non-rated stars */
/* line 9, ../sass/_productRatings.scss */
.pRate0 {
  width: 0px;
}

/* line 10, ../sass/_productRatings.scss */
.pRate1 {
  width: 14px;
}

/* line 11, ../sass/_productRatings.scss */
.pRate2 {
  width: 28px;
}

/* line 12, ../sass/_productRatings.scss */
.pRate3 {
  width: 42px;
}

/* line 13, ../sass/_productRatings.scss */
.pRate4 {
  width: 56px;
}

/* line 14, ../sass/_productRatings.scss */
.pRate5 {
  width: 70px;
}

/* line 15, ../sass/_productRatings.scss */
.pStarCnt {
  margin-left: 74px;
  white-space: nowrap;
  float: left;
  line-height: 15px;
  font-size: 14px;
  color: #646464;
}
/* line 17, ../sass/_productRatings.scss */
.pStarCnt a {
  color: #3399cc;
}
/* line 19, ../sass/_productRatings.scss */
.pStarCnt a:hover {
  color: #222222;
  text-decoration: underline;
}

/* line 1, ../sass/_forms.scss */
textarea:focus, input:focus, select:focus {
  outline: 0;
}

/* line 2, ../sass/_forms.scss */
label {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

/* line 5, ../sass/_forms.scss */
.ui-selectmenu-popup {
  margin: 0 0 10px 0;
  padding: 8px 22px 8px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #ebebeb;
  border: 1px solid #a2a2a2;
  color: #646464;
  position: relative;
}
/* line 15, ../sass/_forms.scss */
.ui-selectmenu-popup:before {
  height: 12px;
  width: 12px;
  top: 11px;
  right: 10px;
  content: " ";
  background: url("http://www.backcountry.com/images/bcs/icon-12-s66c4b85537.png") no-repeat 0 -12px;
  position: absolute;
}
/* line 21, ../sass/_forms.scss */
.ui-selectmenu-popup:after {
  background: #a2a2a2;
  content: "";
  height: 100%;
  position: absolute;
  right: 31px;
  top: 0;
  width: 1px;
}
/* line 30, ../sass/_forms.scss */
.ui-selectmenu-popup:hover {
  text-decoration: none;
}
/* line 31, ../sass/_forms.scss */
.ui-selectmenu-popup:focus {
  outline: 0;
}

/* line 33, ../sass/_forms.scss */
.ui-selectmenu {
  height: auto;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

/* line 151, ../sass/_colorNames.scss */
.AliceBlue {
  background-color: aliceblue;
}

/* line 152, ../sass/_colorNames.scss */
.AntiqueWhite {
  background-color: antiquewhite;
}

/* line 153, ../sass/_colorNames.scss */
.Aqua {
  background-color: cyan;
}

/* line 154, ../sass/_colorNames.scss */
.Aquamarine {
  background-color: aquamarine;
}

/* line 155, ../sass/_colorNames.scss */
.Azure {
  background-color: azure;
}

/* line 156, ../sass/_colorNames.scss */
.Beige {
  background-color: beige;
}

/* line 157, ../sass/_colorNames.scss */
.Bisque {
  background-color: bisque;
}

/* line 158, ../sass/_colorNames.scss */
.Black {
  background-color: black;
}

/* line 159, ../sass/_colorNames.scss */
.BlanchedAlmond {
  background-color: blanchedalmond;
}

/* line 160, ../sass/_colorNames.scss */
.Blue {
  background-color: blue;
}

/* line 161, ../sass/_colorNames.scss */
.BlueViolet {
  background-color: blueviolet;
}

/* line 162, ../sass/_colorNames.scss */
.Brown {
  background-color: brown;
}

/* line 163, ../sass/_colorNames.scss */
.BurlyWood {
  background-color: burlywood;
}

/* line 164, ../sass/_colorNames.scss */
.CadetBlue {
  background-color: cadetblue;
}

/* line 165, ../sass/_colorNames.scss */
.Chartreuse {
  background-color: chartreuse;
}

/* line 166, ../sass/_colorNames.scss */
.Chocolate {
  background-color: chocolate;
}

/* line 167, ../sass/_colorNames.scss */
.Coral {
  background-color: coral;
}

/* line 168, ../sass/_colorNames.scss */
.CornflowerBlue {
  background-color: cornflowerblue;
}

/* line 169, ../sass/_colorNames.scss */
.Cornsilk {
  background-color: cornsilk;
}

/* line 170, ../sass/_colorNames.scss */
.Crimson {
  background-color: crimson;
}

/* line 171, ../sass/_colorNames.scss */
.Cyan {
  background-color: cyan;
}

/* line 172, ../sass/_colorNames.scss */
.DarkBlue {
  background-color: darkblue;
}

/* line 173, ../sass/_colorNames.scss */
.DarkCyan {
  background-color: darkcyan;
}

/* line 174, ../sass/_colorNames.scss */
.DarkGoldenrod {
  background-color: darkgoldenrod;
}

/* line 175, ../sass/_colorNames.scss */
.DarkGray {
  background-color: darkgrey;
}

/* line 176, ../sass/_colorNames.scss */
.DarkGrey {
  background-color: darkgrey;
}

/* line 177, ../sass/_colorNames.scss */
.DarkGreen {
  background-color: darkgreen;
}

/* line 178, ../sass/_colorNames.scss */
.DarkKhaki {
  background-color: darkkhaki;
}

/* line 179, ../sass/_colorNames.scss */
.DarkMagenta {
  background-color: darkmagenta;
}

/* line 180, ../sass/_colorNames.scss */
.DarkOliveGreen {
  background-color: darkolivegreen;
}

/* line 181, ../sass/_colorNames.scss */
.DarkOrange {
  background-color: darkorange;
}

/* line 182, ../sass/_colorNames.scss */
.DarkOrchid {
  background-color: darkorchid;
}

/* line 183, ../sass/_colorNames.scss */
.DarkRed {
  background-color: darkred;
}

/* line 184, ../sass/_colorNames.scss */
.DarkSalmon {
  background-color: darksalmon;
}

/* line 185, ../sass/_colorNames.scss */
.DarkSeaGreen {
  background-color: darkseagreen;
}

/* line 186, ../sass/_colorNames.scss */
.DarkSlateBlue {
  background-color: darkslateblue;
}

/* line 187, ../sass/_colorNames.scss */
.DarkSlateGray {
  background-color: darkslategrey;
}

/* line 188, ../sass/_colorNames.scss */
.DarkSlateGrey {
  background-color: darkslategrey;
}

/* line 189, ../sass/_colorNames.scss */
.DarkTurquoise {
  background-color: darkturquoise;
}

/* line 190, ../sass/_colorNames.scss */
.DarkViolet {
  background-color: darkviolet;
}

/* line 191, ../sass/_colorNames.scss */
.DeepPink {
  background-color: deeppink;
}

/* line 192, ../sass/_colorNames.scss */
.DeepSkyBlue {
  background-color: deepskyblue;
}

/* line 193, ../sass/_colorNames.scss */
.DimGray {
  background-color: dimgrey;
}

/* line 194, ../sass/_colorNames.scss */
.DimGrey {
  background-color: dimgrey;
}

/* line 195, ../sass/_colorNames.scss */
.DodgerBlue {
  background-color: dodgerblue;
}

/* line 196, ../sass/_colorNames.scss */
.FireBrick {
  background-color: firebrick;
}

/* line 197, ../sass/_colorNames.scss */
.FloralWhite {
  background-color: floralwhite;
}

/* line 198, ../sass/_colorNames.scss */
.ForestGreen {
  background-color: forestgreen;
}

/* line 199, ../sass/_colorNames.scss */
.Fuchsia {
  background-color: magenta;
}

/* line 200, ../sass/_colorNames.scss */
.Gainsboro {
  background-color: gainsboro;
}

/* line 201, ../sass/_colorNames.scss */
.GhostWhite {
  background-color: ghostwhite;
}

/* line 202, ../sass/_colorNames.scss */
.Gold {
  background-color: gold;
}

/* line 203, ../sass/_colorNames.scss */
.Goldenrod {
  background-color: goldenrod;
}

/* line 204, ../sass/_colorNames.scss */
.Gray {
  background-color: gray;
}

/* line 205, ../sass/_colorNames.scss */
.Grey {
  background-color: gray;
}

/* line 206, ../sass/_colorNames.scss */
.Green {
  background-color: green;
}

/* line 207, ../sass/_colorNames.scss */
.GreenYellow {
  background-color: greenyellow;
}

/* line 208, ../sass/_colorNames.scss */
.Honeydew {
  background-color: honeydew;
}

/* line 209, ../sass/_colorNames.scss */
.HotPink {
  background-color: hotpink;
}

/* line 210, ../sass/_colorNames.scss */
.IndianRed {
  background-color: indianred;
}

/* line 211, ../sass/_colorNames.scss */
.Indigo {
  background-color: indigo;
}

/* line 212, ../sass/_colorNames.scss */
.Ivory {
  background-color: ivory;
}

/* line 213, ../sass/_colorNames.scss */
.Khaki {
  background-color: khaki;
}

/* line 214, ../sass/_colorNames.scss */
.Lavender {
  background-color: lavender;
}

/* line 215, ../sass/_colorNames.scss */
.LavenderBlush {
  background-color: lavenderblush;
}

/* line 216, ../sass/_colorNames.scss */
.LawnGreen {
  background-color: lawngreen;
}

/* line 217, ../sass/_colorNames.scss */
.LemonChiffon {
  background-color: lemonchiffon;
}

/* line 218, ../sass/_colorNames.scss */
.LightBlue {
  background-color: lightblue;
}

/* line 219, ../sass/_colorNames.scss */
.LightCoral {
  background-color: lightcoral;
}

/* line 220, ../sass/_colorNames.scss */
.LightCyan {
  background-color: lightcyan;
}

/* line 221, ../sass/_colorNames.scss */
.LightGoldenrodYellow {
  background-color: lightgoldenrodyellow;
}

/* line 222, ../sass/_colorNames.scss */
.LightGreen {
  background-color: lightgreen;
}

/* line 223, ../sass/_colorNames.scss */
.LightGray {
  background-color: lightgrey;
}

/* line 224, ../sass/_colorNames.scss */
.LightGrey {
  background-color: lightgrey;
}

/* line 225, ../sass/_colorNames.scss */
.LightPink {
  background-color: lightpink;
}

/* line 226, ../sass/_colorNames.scss */
.LightSalmon {
  background-color: lightsalmon;
}

/* line 227, ../sass/_colorNames.scss */
.LightSeaGreen {
  background-color: lightseagreen;
}

/* line 228, ../sass/_colorNames.scss */
.LightSkyBlue {
  background-color: lightskyblue;
}

/* line 229, ../sass/_colorNames.scss */
.LightSlateGray {
  background-color: lightslategrey;
}

/* line 230, ../sass/_colorNames.scss */
.LightSlateGrey {
  background-color: lightslategrey;
}

/* line 231, ../sass/_colorNames.scss */
.LightSteelBlue {
  background-color: lightsteelblue;
}

/* line 232, ../sass/_colorNames.scss */
.LightYellow {
  background-color: lightyellow;
}

/* line 233, ../sass/_colorNames.scss */
.Lime {
  background-color: lime;
}

/* line 234, ../sass/_colorNames.scss */
.LimeGreen {
  background-color: limegreen;
}

/* line 235, ../sass/_colorNames.scss */
.Linen {
  background-color: linen;
}

/* line 236, ../sass/_colorNames.scss */
.Magenta {
  background-color: magenta;
}

/* line 237, ../sass/_colorNames.scss */
.Maroon {
  background-color: maroon;
}

/* line 238, ../sass/_colorNames.scss */
.MediumAquamarine {
  background-color: mediumaquamarine;
}

/* line 239, ../sass/_colorNames.scss */
.MediumBlue {
  background-color: mediumblue;
}

/* line 240, ../sass/_colorNames.scss */
.MediumOrchid {
  background-color: mediumorchid;
}

/* line 241, ../sass/_colorNames.scss */
.MediumPurple {
  background-color: mediumpurple;
}

/* line 242, ../sass/_colorNames.scss */
.MediumSeaGreen {
  background-color: mediumseagreen;
}

/* line 243, ../sass/_colorNames.scss */
.MediumSlateBlue {
  background-color: mediumslateblue;
}

/* line 244, ../sass/_colorNames.scss */
.MediumSpringGreen {
  background-color: mediumspringgreen;
}

/* line 245, ../sass/_colorNames.scss */
.MediumTurquoise {
  background-color: mediumturquoise;
}

/* line 246, ../sass/_colorNames.scss */
.MediumVioletRed {
  background-color: mediumvioletred;
}

/* line 247, ../sass/_colorNames.scss */
.MidnightBlue {
  background-color: midnightblue;
}

/* line 248, ../sass/_colorNames.scss */
.MintCream {
  background-color: mintcream;
}

/* line 249, ../sass/_colorNames.scss */
.MistyRose {
  background-color: mistyrose;
}

/* line 250, ../sass/_colorNames.scss */
.Moccasin {
  background-color: moccasin;
}

/* line 251, ../sass/_colorNames.scss */
.NavajoWhite {
  background-color: navajowhite;
}

/* line 252, ../sass/_colorNames.scss */
.Navy {
  background-color: navy;
}

/* line 253, ../sass/_colorNames.scss */
.OldLace {
  background-color: oldlace;
}

/* line 254, ../sass/_colorNames.scss */
.Olive {
  background-color: olive;
}

/* line 255, ../sass/_colorNames.scss */
.OliveDrab {
  background-color: olivedrab;
}

/* line 256, ../sass/_colorNames.scss */
.Orange {
  background-color: orange;
}

/* line 257, ../sass/_colorNames.scss */
.OrangeRed {
  background-color: orangered;
}

/* line 258, ../sass/_colorNames.scss */
.Orchid {
  background-color: orchid;
}

/* line 259, ../sass/_colorNames.scss */
.PaleGoldenrod {
  background-color: palegoldenrod;
}

/* line 260, ../sass/_colorNames.scss */
.PaleGreen {
  background-color: palegreen;
}

/* line 261, ../sass/_colorNames.scss */
.PaleTurquoise {
  background-color: paleturquoise;
}

/* line 262, ../sass/_colorNames.scss */
.PaleVioletRed {
  background-color: palevioletred;
}

/* line 263, ../sass/_colorNames.scss */
.PapayaWhip {
  background-color: papayawhip;
}

/* line 264, ../sass/_colorNames.scss */
.PeachPuff {
  background-color: peachpuff;
}

/* line 265, ../sass/_colorNames.scss */
.Peru {
  background-color: peru;
}

/* line 266, ../sass/_colorNames.scss */
.Pink {
  background-color: pink;
}

/* line 267, ../sass/_colorNames.scss */
.Plum {
  background-color: plum;
}

/* line 268, ../sass/_colorNames.scss */
.PowderBlue {
  background-color: powderblue;
}

/* line 269, ../sass/_colorNames.scss */
.Purple {
  background-color: purple;
}

/* line 270, ../sass/_colorNames.scss */
.Red {
  background-color: red;
}

/* line 271, ../sass/_colorNames.scss */
.RosyBrown {
  background-color: rosybrown;
}

/* line 272, ../sass/_colorNames.scss */
.RoyalBlue {
  background-color: royalblue;
}

/* line 273, ../sass/_colorNames.scss */
.SaddleBrown {
  background-color: saddlebrown;
}

/* line 274, ../sass/_colorNames.scss */
.Salmon {
  background-color: salmon;
}

/* line 275, ../sass/_colorNames.scss */
.SandyBrown {
  background-color: sandybrown;
}

/* line 276, ../sass/_colorNames.scss */
.SeaGreen {
  background-color: seagreen;
}

/* line 277, ../sass/_colorNames.scss */
.Seashell {
  background-color: seashell;
}

/* line 278, ../sass/_colorNames.scss */
.Sienna {
  background-color: sienna;
}

/* line 279, ../sass/_colorNames.scss */
.Silver {
  background-color: silver;
}

/* line 280, ../sass/_colorNames.scss */
.SkyBlue {
  background-color: skyblue;
}

/* line 281, ../sass/_colorNames.scss */
.SlateBlue {
  background-color: slateblue;
}

/* line 282, ../sass/_colorNames.scss */
.SlateGray {
  background-color: slategrey;
}

/* line 283, ../sass/_colorNames.scss */
.SlateGrey {
  background-color: slategrey;
}

/* line 284, ../sass/_colorNames.scss */
.Snow {
  background-color: snow;
}

/* line 285, ../sass/_colorNames.scss */
.SpringGreen {
  background-color: springgreen;
}

/* line 286, ../sass/_colorNames.scss */
.SteelBlue {
  background-color: steelblue;
}

/* line 287, ../sass/_colorNames.scss */
.Tan {
  background-color: tan;
}

/* line 288, ../sass/_colorNames.scss */
.Teal {
  background-color: teal;
}

/* line 289, ../sass/_colorNames.scss */
.Thistle {
  background-color: thistle;
}

/* line 290, ../sass/_colorNames.scss */
.Tomato {
  background-color: tomato;
}

/* line 291, ../sass/_colorNames.scss */
.Turquoise {
  background-color: turquoise;
}

/* line 292, ../sass/_colorNames.scss */
.Violet {
  background-color: violet;
}

/* line 293, ../sass/_colorNames.scss */
.Wheat {
  background-color: wheat;
}

/* line 294, ../sass/_colorNames.scss */
.White {
  background-color: white;
}

/* line 295, ../sass/_colorNames.scss */
.WhiteSmoke {
  background-color: whitesmoke;
}

/* line 296, ../sass/_colorNames.scss */
.Yellow {
  background-color: yellow;
}

/* line 297, ../sass/_colorNames.scss */
.YellowGreen {
  background-color: yellowgreen;
}

/* line 1, ../sass/_pdpNavBar.scss */
.pt_pdpNav {
  margin: 0 0 18px 0;
  width: 100%;
  border-bottom: 1px solid silver;
}
/* line 5, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_brandCrumb .pt_pdpNavLogo {
  margin: 0 10px 7px 0;
  float: left;
  height: 50px;
  overflow: hidden;
}
/* line 8, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_brandCrumb .pt_pdpCrumb {
  float: left;
  font-size: 17px;
  margin: 10px 0 0 0;
}
/* line 10, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a {
  margin: 0 4px;
  color: #3399cc;
}
/* line 12, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a:last-child {
  margin-top: 4px;
  color: #222222;
  font-weight: bold;
  display: block;
}
/* line 13, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a:hover {
  text-decoration: none;
}
/* line 17, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_pdpNavOptions {
  margin: 26px 0 0 0;
  float: right;
  font-size: 17px;
}
/* line 19, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_pdpNavOptions a {
  margin: 0 7px;
  padding: 0 10px 12px 10px;
  display: inline;
  color: #646464;
}
/* line 21, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_pdpNavOptions a:hover {
  color: #222222;
  text-decoration: none;
  border-bottom: 3px solid #222222;
}
/* line 22, ../sass/_pdpNavBar.scss */
.pt_pdpNav .pt_pdpNavOptions a:last-child {
  margin-right: 0;
}
/* line 25, ../sass/_pdpNavBar.scss */
.pt_pdpNav a.pt_buyNow {
  color: #e48325;
  border-bottom: 3px solid #e48325;
}
/* line 26, ../sass/_pdpNavBar.scss */
.pt_pdpNav a.pt_navHere {
  color: #222222;
  text-decoration: none;
  border-bottom: 3px solid #222222;
}

/* line 28, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail {
  margin: 3px 0 0 0;
  width: 100%;
  border-top: 1px solid silver;
}
/* line 30, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .closeDialog {
  float: right;
  padding: 4px 8px;
  background-color: #222222;
}
/* line 32, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .closeDialog a {
  color: white;
  font-weight: bold;
}
/* line 34, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .closeDialog a:hover {
  text-decoration: none;
}
/* line 37, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .bc_links {
  margin: 15px;
  width: 30%;
  float: left;
}
/* line 39, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .bc_links .bc_linkSpace {
  margin-top: 6px;
}
/* line 40, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .bc_links a {
  color: #3399cc;
  display: block;
  line-height: 24px;
  text-transform: capitalize;
}
/* line 42, ../sass/_pdpNavBar.scss */
.pt_brandCrumbDetail .bc_links a:first-child {
  color: #222222;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

/* iPhone layout */
@media only screen and (max-width: 480px) {
  /* line 50, ../sass/_pdpNavBar.scss */
  .pt_pdpNav {
    width: 320px;
  }
  /* line 52, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_pdpNavOptions {
    margin: 26px 0 0 0;
    float: right;
    font-size: 16px;
  }
  /* line 54, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_pdpNavOptions a {
    margin: 0 3px;
    padding: 0 3px 12px 3px;
  }
  /* line 57, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpNavLogo {
    margin: 0 10px 7px 0;
    float: left;
    height: 30px;
    overflow: hidden;
  }
  /* line 59, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpNavLogo img {
    height: 30px;
  }
  /* line 61, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpCrumb {
    float: left;
    font-size: 17px;
    margin: 0;
  }
  /* line 63, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a {
    margin: 0 4px;
    color: #3399cc;
  }
  /* line 65, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a:last-child {
    margin-top: 1px;
    color: #222222;
    font-weight: bold;
    display: block;
  }
  /* line 66, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_brandCrumb .pt_pdpCrumb a:nth-child(-n+1) {
    display: none;
  }
  /* line 70, ../sass/_pdpNavBar.scss */
  .pt_pdpNav .pt_pdpNavOptions {
    display: none;
  }

  /* line 72, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail {
    margin: 3px 0 0 0;
    width: 100%;
    border-top: 1px solid silver;
    font-size: 17px;
  }
  /* line 74, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .closeDialog {
    float: right;
    margin-right: 15px;
    padding: 4px 8px;
    background-color: #222222;
  }
  /* line 76, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .closeDialog a {
    color: white;
    font-weight: bold;
  }
  /* line 80, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .bc_links {
    margin: 5px;
    width: 100%;
  }
  /* line 82, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .bc_links .bc_linkSpace {
    margin-top: 6px;
  }
  /* line 83, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .bc_links a {
    color: #3399cc;
    display: block;
    line-height: 24px;
    text-transform: capitalize;
  }
  /* line 85, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail .bc_links a:first-child {
    color: #222222;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  /* line 88, ../sass/_pdpNavBar.scss */
  .pt_brandCrumbDetail div:nth-child(3) {
    display: none;
  }
}
/* line 1, ../sass/_atfProduct.scss */
h1.pt_productTitle {
  width: 100%;
  margin: 0 15px 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  letter-spacing: normal;
}
/* line 4, ../sass/_atfProduct.scss */
h1.pt_productTitle .pt_brandName {
  margin: 0;
  padding: 0 6px 0 0;
  width: auto;
  font-weight: bold;
}

/* line 6, ../sass/_atfProduct.scss */
.pRates {
  margin: 0 0 10px 0;
}

/* line 7, ../sass/_atfProduct.scss */
.pImg {
  text-align: center;
}
/* line 9, ../sass/_atfProduct.scss */
.pImg img {
  height: 360px;
}

/* line 11, ../sass/_atfProduct.scss */
.pColorSwatch {
  margin: 15px 0;
  text-align: center;
}
/* line 13, ../sass/_atfProduct.scss */
.pColorSwatch .colorSwatch {
  margin: 0 5px 0 0;
  width: 22px;
  height: 22px;
  border: 1px solid #a2a2a2;
  display: inline-block;
}
/* line 15, ../sass/_atfProduct.scss */
.pColorSwatch .colorSwatch a {
  display: block;
  line-height: 22px;
  text-decoration: none;
}

/* line 18, ../sass/_atfProduct.scss */
.pThumbs {
  margin: 15px 0;
  text-align: center;
}

/* iPhone layout */
@media only screen and (max-width: 480px) {
  /* line 24, ../sass/_atfProduct.scss */
  .h1.pt_productTitle {
    font-size: 32px;
  }

  /* line 25, ../sass/_atfProduct.scss */
  .bb_varSelect > label {
    display: none;
  }

  /* line 26, ../sass/_atfProduct.scss */
  .pThumbs {
    width: 320px;
    overflow: hidden;
  }
}
/* line 1, ../sass/_atfWrappers.scss */
.pdpWrapper {
  width: 1172px;
  margin: 0 auto;
}

/* line 2, ../sass/_atfWrappers.scss */
.header {
  margin: 0 0 12px 0;
}

/* line 3, ../sass/_atfWrappers.scss */
.pt_atfWrapper {
  background-color: yellow;
}

/* line 5, ../sass/_atfWrappers.scss */
.pt_70-30 #atf_l {
  width: 70%;
  float: left;
}
/* line 6, ../sass/_atfWrappers.scss */
.pt_70-30 #atf_buyBox {
  margin-left: 70%;
}

/* line 9, ../sass/_atfWrappers.scss */
.pt_50-50 #atf_l {
  width: 50%;
  float: left;
}
/* line 10, ../sass/_atfWrappers.scss */
.pt_50-50 #atf_buyBox {
  margin-left: 50%;
}

/* iPhone layout */
@media only screen and (max-width: 480px) {
  /* line 15, ../sass/_atfWrappers.scss */
  .pdpWrapper {
    width: 320px;
  }

  /* line 16, ../sass/_atfWrappers.scss */
  .header {
    display: none;
  }

  /* line 17, ../sass/_atfWrappers.scss */
  .pt_70-30 {
    width: 320px;
  }
  /* line 19, ../sass/_atfWrappers.scss */
  .pt_70-30 #atf_l {
    width: 100%;
    float: left;
  }
  /* line 20, ../sass/_atfWrappers.scss */
  .pt_70-30 #atf_buyBox {
    margin-left: 0;
  }
}
/* line 1, ../sass/_tabbedBuyBox.scss */
#atf_buyBox {
  /*border:1px solid $gray-lighter;*/
}
/* line 3, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_title {
  display: none;
}
/* line 4, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab {
  padding: 18px 10px 0 32px;
  height: 30px;
  border-top: 1px solid #a2a2a2;
  background: url("../img/icon16_radioOff.png") no-repeat 10 50%;
}
/* line 8, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab:last-child {
  border-bottom: 1px solid #a2a2a2;
}
/* line 9, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab a {
  color: #222222;
  display: block;
  font-size: 16px;
}
/* line 11, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab a .bb_count {
  font-size: 14px;
  color: #646464;
}
/* line 12, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab a:hover {
  text-decoration: none;
}
/* line 14, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab .bb_sumPrice {
  float: right;
  margin: -16px 0 0 0;
}
/* line 16, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab .bb_sumPrice .bb_sumLabel {
  font-size: 16px;
  color: #646464;
}
/* line 18, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab:nth-child(2) {
  border: none;
}
/* line 19, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tab:hover {
  background-color: #f1f1f1;
}
/* line 22, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tabOn {
  background: url("../img/icon16_radioOn.png") no-repeat 10 50%;
}
/* line 24, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_tabOn:hover {
  background-color: white;
}
/* line 26, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_varPanel {
  margin: 0;
  padding: 0 10px 15px 32px;
}
/* line 28, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_varPanel .bb_varPrice {
  text-align: right;
  color: red;
  font-size: 24px;
}
/* line 29, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_varPanel .bb_buttonRow {
  margin: 20px 0 0 0;
}
/* line 30, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_varPanel .ui-button {
  margin: 0 0 15px 0;
  display: list-item;
  max-width: 187px;
}
/* line 31, ../sass/_tabbedBuyBox.scss */
#atf_buyBox .bb_varPanel .bb_fromPrice {
  font-size: 18px;
  color: #646464;
}

/* iPhone layout */
@media only screen and (max-width: 480px) {
  /* line 38, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox {
    clear: both;
    border-bottom: 1px solid #646464;
  }
  /* line 40, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox .bb_title {
    padding: 12px 0 12px 10px;
    display: block;
    border-top: 1px solid #646464;
    font-size: 24px;
  }
  /* line 41, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox .bb_tab, #atf_buyBox .bb_varPanel {
    margin: 0 10px;
  }
  /* line 42, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox .bb_tab {
    padding: 18px 0 0 32px;
    height: 40px;
  }
  /* line 44, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox .bb_tab a {
    font-size: 21px;
  }
  /* line 46, ../sass/_tabbedBuyBox.scss */
  #atf_buyBox .bb_varPrice {
    margin: 0 0 10px 0;
  }
}
/* line 3, ../sass/_dropdowns.scss */
.bb_dropdown li .dd_optionTitle, .bb_dropdownMenu li .dd_optionTitle {
  margin: 0 0 0 6px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}
/* line 4, ../sass/_dropdowns.scss */
.bb_dropdown li .uniSize, .bb_dropdownMenu li .uniSize {
  display: block;
}
/* line 5, ../sass/_dropdowns.scss */
.bb_dropdown li .uniPrice, .bb_dropdown li .uniPriceSale, .bb_dropdown li .uniPriceOutlet, .bb_dropdownMenu li .uniPrice, .bb_dropdownMenu li .uniPriceSale, .bb_dropdownMenu li .uniPriceOutlet {
  float: right;
  margin: 20px 20px 0 0;
}
/* line 6, ../sass/_dropdowns.scss */
.bb_dropdown li .uniPrice, .bb_dropdownMenu li .uniPrice {
  color: #222222;
}
/* line 7, ../sass/_dropdowns.scss */
.bb_dropdown li .uniPriceSale, .bb_dropdownMenu li .uniPriceSale {
  color: #e48325;
}
/* line 8, ../sass/_dropdowns.scss */
.bb_dropdown li .uniPriceOutlet, .bb_dropdownMenu li .uniPriceOutlet {
  color: red;
}
/* line 9, ../sass/_dropdowns.scss */
.bb_dropdown li:first-child, .bb_dropdownMenu li:first-child {
  margin: 0;
  padding: 5px 22px 2px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #ebebeb;
  border: 1px solid #a2a2a2;
  color: #646464;
  position: relative;
}
/* line 19, ../sass/_dropdowns.scss */
.bb_dropdown li:first-child:before, .bb_dropdownMenu li:first-child:before {
  height: 12px;
  width: 12px;
  top: 40%;
  right: 10px;
  content: " ";
  background: url("http://www.backcountry.com/images/bcs/icon-12-s66c4b85537.png") no-repeat 0 -12px;
  position: absolute;
  cursor: pointer;
}
/* line 26, ../sass/_dropdowns.scss */
.bb_dropdown li:first-child:after, .bb_dropdownMenu li:first-child:after {
  background: #a2a2a2;
  content: "";
  height: 100%;
  position: absolute;
  right: 31px;
  top: 0;
  width: 1px;
}
/* line 35, ../sass/_dropdowns.scss */
.bb_dropdown li:first-child:hover, .bb_dropdownMenu li:first-child:hover {
  text-decoration: none;
}
/* line 36, ../sass/_dropdowns.scss */
.bb_dropdown li:first-child:focus, .bb_dropdownMenu li:first-child:focus {
  outline: 0;
}
/* line 38, ../sass/_dropdowns.scss */
.bb_dropdown li a, .bb_dropdownMenu li a {
  display: block;
  color: #646464;
  text-decoration: none;
  line-height: 27px;
}

/* line 44, ../sass/_dropdowns.scss */
.bb_dropdown li:nth-child(n+2) {
  display: none;
}

/* line 50, ../sass/_dropdowns.scss */
.bb_dropdownMenu li:nth-child(n+2) {
  margin: 0;
  padding: 0 10px;
  -webkit-border-radius-top-right: 0;
  -moz-border-radius-top-right: 0;
  -ms-border-radius-top-right: 0;
  border-radius-top-right: 0;
  border-radius-top-left: 0;
  background-color: white;
  border-left: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
}
/* line 60, ../sass/_dropdowns.scss */
.bb_dropdownMenu li:nth-child(n+2):last-child {
  border-bottom: 1px solid #a2a2a2;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 70, ../sass/_dropdowns.scss */
.bb_dropdownMenu li:nth-child(n+2):last-child a {
  border: none;
}
/* line 72, ../sass/_dropdowns.scss */
.bb_dropdownMenu li:nth-child(n+2) a {
  padding: 6px 5px;
  display: block;
  color: #646464;
  text-decoration: none;
  border-bottom: 1px solid #ebebeb;
}
/* line 74, ../sass/_dropdowns.scss */
.bb_dropdownMenu li:hover {
  background-color: #f1f1f1;
}

/* line 78, ../sass/_dropdowns.scss */
.bb_label {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

/* line 79, ../sass/_dropdowns.scss */
.bb_ddIcon {
  width: 32px;
  height: 24px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: 1px solid #a2a2a2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
}

/* line 88, ../sass/_dropdowns.scss */
.bb_ddThumb img {
  width: 45px;
  height: 45px;
  border: 1px solid #a2a2a2;
  vertical-align: middle;
}
